<h1> No existen los repuestos con los siguientes códigos:</h1>

<% @errores.each do |error| %>
	<div>
		<h4> - <%= error %> </h4>
	</div>
<% end %>

<h2> Por favor, vuelva atrás y corriga dichos códigos</h2>