<h1> No existen los repuestos con los siguientes códigos:</h1>

<% @errores.each do |error| %>
	<div>
		<p> <%= error.to_i %> </p>
	</div>
<% end %>

<h2> Por favor, vuelva atrás y corriga dichos códigos</h2>