<% if not @estan_todos %>
	<h2>Los siguientes atributos son obligatorios, sin ellos no se puede crear la OT</h2>

	<h3> - Número OT </h3>
	<h3> - Cliente </h3>
	<h3> - Taller </h3>
	<h3> - Horómetro </h3>
	<h3> - Costos del viaje </h3>
	<h3> - Cantidad de grúas </h3>


<% else %>

	<% if @malo %>
		<div class="jumbotron">
			<h2> Nuevo horometro menor que el antiguo, por favor corregir </h2>
		</div>
	<% end %>

	<% if not @correcto and @errores.length > 0 %>
		<div class="jumbotron">
			<h2> No existen los repuestos con los siguientes códigos:</h2>

			<% @errores.each do |error| %>
				<div>
					<p> <%= error %> </p>
				</div>
			<% end %>

			<h3> Por favor, vuelva atrás y corriga dichos códigos para que la OT sea válida</h3>
		</div>
	<% end %>
<% end %>