<h1> No existen los repuestos con los siguientes c칩digos:</h1>

<% @errores.each do |error| %>
	<div>
		<p> <%= error.to_i %> </p>
	</div>
<% end %>

<h2> Por favor, vuelva atr치s y corriga dichos c칩digos para que la OT sea v치lida</h2>