<% if @malo %>
	<div class="jumbotron">
		<h2> Nuevo horometro menor que el antiguo, por favor corregir </h2>
	</div>
<% end %>

<% if not @correcto and @errores.length > 0 %>
	<div class="jumbotron">
		<h2> No existen los repuestos con los siguientes c칩digos:</h2>

		<% @errores.each do |error| %>
			<div>
				<p> <%= error %> </p>
			</div>
		<% end %>

		<h3> Por favor, vuelva atr치s y corriga dichos c칩digos para que la OT sea v치lida</h3>
	</div>
<% end %>